%h1= @list.title
%p
  Created
  = @list.created_at.to_formatted_s(:long_ordinal)
  |
  = link_to "edit", edit_list_path(@list)
  |
  = link_to "delete", @list, method: :delete, 
          confirm: "Are you sure you want to delete this list?"

%hr
%h2 Incomplete Tasks
= link_to "New Task", new_list_task_path(@list), class: "btn btn-small btn-success"
- if @incomplete_tasks.any?
  = form_tag complete_list_task_path(@list), method: :put do
    - @incomplete_tasks.each do |task|
      %p
        = check_box_tag "task_ids[]", task.id
        = task.body
        |
        = link_to "edit", edit_list_task_path(@list, task)
        |
        = link_to "delete", list_task_path(@list, task), method: :delete,
                confirm: "Are you sure you want to delete this task?"
    = submit_tag "Mark as Complete"
- else
  %p No incomplete tasks

%h2 Complete Tasks
- if @complete_tasks.any?
  - @complete_tasks.each do |task|
    %p
      = task.body + " | Completed " + time_ago_in_words(task.updated_at) + "ago | "
      = link_to "delete", list_task_path(@list, task), method: :delete,
                confirm: "Are you sure you want to delete this task?"
- else
  %p No complete tasks


= link_to "back to project", @project

