<h1 class="title"><%= @text_document.title %></h1>
<p class="info">
  By <%= link_name @text_document.user_id %>
  on <%= @text_document.created_at.strftime("%a, %b %l, %Y %l:%M %p") %>
  <% if @text_document.is_owner?(current_user) %>
    | <%= link_to "Edit", edit_project_text_document_path(@text_document.project_id, @text_document) %>
  <% end %>
</p>
<hr>
<p class="body"><%= @text_document.body %></p>
<% if @text_document.file? %>
  <p class="file">
    <i>File: </i>
    <%= link_to File.basename(@text_document.file.path), @text_document.file.path %>
  </p>
<% end %>

<div class="back">
  <p><%= link_to "Back to project", project_path(params[:project_id]) %></p>
</div>
