<h1>Editing discussion</h1>

<%= simple_form_for(@discussion, url: project_discussion_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Show', project_discussions_path(@discussion) %>
<%= link_to 'Back', project_discussions_path %>
