<p id="notice"><%= notice %></p>

<h2>
  <%= @discussion.title %>
</h2>

<div class="well message">
<p>
  <%= @discussion.message %>
</p>
<p>
  <b>User:</b>
  <%= @discussion.user_id %>
</p>
</div>

<%= render 'comment_form' %>


<%= link_to 'Edit', edit_project_discussion_path(@discussion) %> |
<%= link_to 'Back', project_discussions_path %>
