<p id="notice"><%= notice %></p>

<h2>
  <%= @discussion.title %>
</h2>

<div class="well message">
  <p class="body"><%= @discussion.message %>
  <% if @discussion.file? %>
    <p class="file">
      <i>File: </i>
      <%= link_to File.basename(@discussion.file.path), @discussion.file.url %>
    </p>
  <% end %>
  </p>
  <p class="created">
    <%= link_name(@discussion.user) %> | 
    Posted <%= time_ago_in_words(@discussion.created_at) %> ago
    <% if current_user.owns?(@discussion) %>
      | <%= link_to 'Edit', edit_project_discussion_path(@discussion.project_id, @discussion) %>
    <% end %>
  </p>
</div>

<%= render 'comments/form' %>
<% @comments.each do |comment| %>
  <div class="well message">
    <p class="body"><%= comment.body %></p>
    <p class="created">
      <%= link_name(comment.user) %> | 
      Posted <%= time_ago_in_words(comment.created_at) %> ago
    <% if current_user.owns?(comment) %>
      | <%= link_to 'Edit', edit_comment_path(comment) %>
    <% end %>
    </p>
  </div>
<% end %>

<%= link_to 'Back', project_discussions_path %>
