<div class="row">
  <div class="span8">

    <%= render 'projects' %>
    <%= render 'discussions' %>
    <%= render 'comments' %>

    
  </div> <!-- end span8 -->

  <!-- Sidebar -->
  <div class="span3 well">
    <%= gravatar_for @user %><br>
    <strong>Name: </strong><%= @user.name %><br>
    <strong>Joined: </strong><%= @user.created_at.strftime("%b %d, %Y")  %><br>
  </div>
</div>
