- if current_user.owns?(@project) || current_user.is_admin?
  = link_to 'Edit', edit_project_path(@project),
        class: "btn btn-info", id: "edit-btn"
  = simple_form_for(@project, url: project_toggle_status_path(@project.id) ) do |f|
    - if @project.active?
      = f.submit "Archive this project", class: "btn btn-primary"
    - else
      = f.submit "Activate this project", class: "btn btn-primary"

%h3 Info
%p
  %b Status:
  = get_status(@project.status)
%p
  %b Due in:
  = distance_of_time_in_words(Time.now, @project.due)
  on
  = @project.due.strftime("%b %d")


%h3 Owner
%p= link_name(@project.user)

.members_heading
  %h3 Members
  - if current_user.owns?(@project) || current_user.is_admin?
    = link_to "Add", project_members_path(@project), class: "btn btn-success"
  - else
    - if @project.members.include?(current_user)
      = link_to "Leave", project_remove_member_path(@project.id, current_user.id),
            class: "btn btn-danger"

.members_list
  - if @project.members.any?
    %table
      - @project.members.each do |member|
        %tr
          %td= link_name(member, class: "member")
          - if current_user.owns?(@project) || current_user.is_admin?
            %td
              = simple_form_for(@project, 
                      url: project_remove_member_path(@project.id, member.id),
                      html: { class: "form-inline" } ) do |f|
                = f.submit "Remove", class: "btn btn-small"
  - else
    %p No members just yet...
- if current_user.owns?(@project) || current_user.is_admin?
  .destroy
    = link_to 'Destroy Project', @project,
      method: :delete, data: { confirm: 'Are you sure?' },
      class: "btn btn-danger"

