<% if @project.is_owner?(current_user) %>
  <%= link_to 'Edit', edit_project_path(@project),
        class: "btn btn-info", id: "edit-btn" %>
  <%= simple_form_for(@project, url: { action: 'toggle_status' }) do |f| %>
    <% if @project.active? %>
      <%= f.submit "Archive this project", class: "btn btn-primary"%>
    <% else %>
      <%= f.submit "Activate this project", class: "btn btn-primary"%>
    <% end %>
  <% end %>
<% end %>

<h3>Info</h3>
<p>
  <b>Status:</b>
  <%= get_status(@project.status) %>
</p>
<p>
  <b>Due in:</b>
  <%= distance_of_time_in_words(Time.now, @project.due) %> 
    on <%= @project.due.strftime("%b %d") %>
</p>


<h3>Owner</h2>
<p><%= get_name(@project.user_id) %></p>

<h3>Members</h3>
<% if @project.members.any? %>
  <% @project.members.each do |member| %>
    <%= get_name(member.id) %>
  <% end %>
<% else %>
  <p>No members just yet...</p>
<% end %>
