<div class="action-index">
  <h1>My Projects</h1>
  <%= link_to 'New Project', new_project_path,
    class: "btn btn-primary",
    id: "add-project-btn" %>

  <div class="active_projects projects block">
    <h2>Active Projects</h2>
    <% if @active_projects.any? %>
      <table>
      <% @active_projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, project  %></td>
          <td>Due in <%= distance_of_time_in_words(Time.now, project.due) %></td>
          <td>Project manager: <%= link_name(project.user_id) %></td>
        </tr>
      <% end %>
      </table>
    <% else %>
      <p>You do not have any projects at this moment...</p>
    <% end %>
  </div>
  <div class="archived_projects projects block">
    <h2>Archived Projects</h2>
    <% if @archived_projects.any? %>
    <table>
    <% @archived_projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project  %></td>
        <td>Due in <%= distance_of_time_in_words(Time.now, project.due) %></td>
        <td>Project manager: <%= link_name(project.user_id) %></td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <p>You do not have any archived projects.</p>
  <% end %>
  </div>
</div>
