<h1>My Projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Due</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_user.projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>
    <td><%= project.due %></td>
    <td><%= User.find(project.user_id).name %></td>
    <td><%= link_to 'Show', project %></td>
    <% if current_user.id == project.user_id %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, 
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
