<div class="row">
  <div class="span8">
    <h1><%= @project.title %></h1>
    <p id="notice"><%= notice %></p>

    <p class="description">
      <%= @project.description %>
    </p>

    <%= render 'layouts/feed' %>

    <%= render 'discussions' %>

    <%= render 'lists' %>

    <%= render 'text_documents' %>

    <%= render 'files' %>
  </div>


  <div class="span3 well sidebar">
    <%= render 'sidebar' %>
  </div>
</div> <!-- end row -->
