<div class="row">
  <div class="span8">
    <h1><%= @project.title %></h1>
    <p id="notice"><%= notice %></p>

    <p class="description">
      <%= @project.description %>
    </p>

    <%= render 'discussions' %>
    <div class="block">
      <h2>To-do Lists</h2>
      <p>Placeholder</p>
    </div>
    <div class="block">
      <h2>Text Documents</h2>
      <p>Placeholder</p>
    </div>
  </div>


  <div class="span3 well sidebar">
    <%= render 'sidebar' %>
  </div>
</div> <!-- end row -->
