<h1>Project</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>
<p>
  <b>Description:</b>
  <%= @project.description %>
</p>
<p>
  <b>Status:</b>
  <%= @project.status %>
</p>
<p>
  <b>Due:</b>
  <%= @project.due %>
</p>
<p>
  <b>User:</b>
  <%= @project.user_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<h1>Discussions</h1>
<p>
  <%= link_to "Create New Discussion", new_project_discussion_path(@project) %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Message</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.title %></td>
    <td><%= discussion.message %></td>
    <td><%= discussion.user_id %></td>
    <td><%= link_to 'Show', project_discussions_path(discussion) %></td>
    <td><%= link_to 'Edit', edit_project_discussion_path(discussion.project_id, discussion) %></td>
    <td><%= link_to 'Destroy', project_discussions_path(discussion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

