<!DOCTYPE html>
<html>
<head>
<title><%= @title %> | Basecamp Clone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value.html_safe , :class => "flash alert alert-#{key}") %>
      <% end %>
    <%= yield %>

    <%= debug params %>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
